@media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }
  }
  
  
  @media(min-width:801px){
    #hamburger{
    display: none;
    }
  }
  @media (max-width:800px) {
    #resumeBtn{
    display: none;
    }
  }
    